@import "./../../../../assets/scss/var";
@import "./../../../../assets/scss/media-query";
@import "./../../../../assets/scss/font-mixins";
/* ============================================================== */

.fundtable{
    tr{
        &:nth-child(even){
            background-color: transparent !important;
            &:hover{
                background-color: $tr-hover-color !important;
            }
        }
    }
    .parentrow{
        th,td{
            &:nth-child(2){
                width: 30px;
            }
            &:nth-child(6){
                @include respond-below(xsm){
                    display: none;
                }
            }
            &:nth-child(4){
                @include respond-below(xxxxs){
                    display: none;
                }
            }
            &:nth-child(3){
                @include respond-below(xxxxxss){
                    display: none;
                }
            }
            .expand-td{
                width: 28px;
            }
        }
        &:nth-child(even){
            background-color: transparent !important;
        }
        td.expand-td{
            width: 30px;
        }
        &:hover{
            background-color: $tr-hover-color;
        }        
    }
    .childrow{
        td{
            span{
                display: none;
                &:nth-child(4){
                    @include respond-below(xsm){
                        display: block;
                    }
                }
                &:nth-child(3){
                    @include respond-below(xxxxs){
                        display: block;
                    }
                }
                &:nth-child(2){
                    @include respond-below(xxxxxss){
                        display: block;
                    }
                }
            }
        }
    }
}

.fundtable-wrap{
    .search{
        @include respond-below(xxs){
            justify-content: center;
            flex-direction: column-reverse;
        }
        >span{
            @include respond-below(xxs){
                margin-bottom: 15px;
            }
            input{
                border: 1px solid $primary-color;
                border-radius: 0;
            }
        }
    }

    .hidden{
        display: none;
    }
    .visible{
        display: block;
    }
    .instraction-text{
        @include font-28;
        @include secondary-font;
        color: $text-color;
        position: relative;
        @include respond-below(xxs){
            display: none;
        }
        &::before{
            content: "";
            width: 46px;
            height: 55px;
            background: url('./../../../../assets/images/icons/arrow-pointing-down.png') center no-repeat;
            background-size: contain;
            display: inline-block;
            vertical-align: top;
            margin-right: 5px;
            margin-left: 25px;
            margin-top: 15px;
            @include respond-below(xsm){
                width: 42px;
                height: 40px;
            }
        }
        strong{
            color: $primary-color;
        }
    }
}


.upper-quote-wrap{
    border: 1px solid $primary-color;
    border-radius: 5px;
    .quote-heading{
        background-color: $primary-color;
        padding: 10px 15px;
        h1,h2,h3,h4,h5,h6{
            color: $white-color;
            @include font-24;
        }
    }
    .quote-body{
        color: $gray-color;
        padding: 20px 15px;
        p{
            margin-bottom: 5px;
        }
        span{
            color: $black-color;
            @include font-24;
            @include secondary-bold-font;
        }
    }
}

.quote-checkbox{
    #checkbox{
        margin-right: 5px;
    }
    label{
        color: $gray-color;
        @include respond-below(xxxxxss){
            @include font-12;
        }
        button{
            color: $primary-color;
            background-color: transparent;
            border: 0;
            margin-left: 5px;
            @include secondary-font;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

.accept-btn-wrap{
    button{
        padding: 15px 30px;
        @include font-24;
        @include secondary-medium-font;
        &:hover{
            color: $primary-color;
            border: 1px solid $primary-color !important;
            background-color: transparent !important;
        }
    }
}
.promocode-wrap{
    border-top: 1px solid $primary-color;
    border-bottom: 1px solid $primary-color;
    padding: 10px 15px;
}